/* .footer{
     margin-top: 150px !important;
     margin-bottom: 150px !important;
     text-align: center !important;
     background-color: #232F3E;
    color:#ffffff;
    display: flex;
    margin-top:auto; 
    padding: 0.5rem;
    justify-content: center;
    width:100%;
}
.footer >p {
    font-size: 200px;
     text-align: center !important;
} */